.link-input {
  margin-top: 16px !important; /* Add margin to create space between Mode and Link */
}

.Heading{
  font-weight: bold !important;
  color: #19105B !important;
  margin-top: 1% !important;
}